body{
    font-family: roboto;
    background-color:black;
    margin:0;
}

.bg-calipso{
    background-color: #17c0d6;
}

/* BARRA DE NAVEGACIÓN */
.logo-barra{
    margin-left: 5rem;
}

.navbar{
    background-color: transparent !important;
    position: fixed;
    width: 100vw;
    z-index: 1;
}

/* HEADER CARROUSEL DE BOOSTRAP */
#carouselExampleControls{
    background-size: cover;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

/*  DESTACADOS */
i{
    background-color: #17c0d6;
}

.avion{
    font-size: 1rem;
    color: #ffffff;
    text-align: justify;
    margin-left: 7rem;
    margin-right: 0rem;
    padding-right: 0rem;

}

.iconoAvion{
    padding-left: 9rem;
    padding-right: 9rem;
    margin-left: 7rem;
    margin-right: 0;
}

.monte{
    font-size: 1rem;
    color: #ffffff;
    text-align: justify;
    margin-left: 3rem;
    margin-right: 2.5rem;
    padding-right: 1rem;
}

.iconoMonte{
    padding-left: 9rem;
    padding-right: 9rem;
    margin-left: 3rem;
    margin-right: 0;
}

.ruta{
    font-size: 1rem;
    color: #ffffff;
    text-align: justify;
    margin-left: 0rem;
    margin-right: 6rem;
    padding-right: 1rem;
}

.iconoRuta{
    padding-left: 9rem;
    padding-right: 9rem;
    margin-left: 0rem;
    margin-right: 6rem;
}

/* FORMULARIO TYPEFORM */

.imagenLink{
    margin-right: 0;
    margin-left: 12em;
}

.typeform{
    background-color: #ffffff;
    text-align: center;

}
