body{
    font-family: roboto;
    background-color:black;
    margin:0;
}

/* COLOR DE FONDO */
.bg-calipso{
    background-color: #17c0d6;
}

/* ESTILOS PARA BARRA DE NAVEGACIÓN */
.logo-barra{
    margin-left: 5rem;
}

.nav-transparente{
    background-color: transparent !important;
    padding-right: 0;
    padding-left: 0;
}

/* ESTILOS PARA CARROUSEL DE BOOSTRAP */
.carrusel{
    background-size: cover;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}
/* ESTILOS PARA LOGOS E INFORMACIÓN DESTACADA */
i{
    background-color: #17c0d6;
}

.avion{
    font-size: 1rem;
    color: #ffffff;
    text-align: justify;
    margin-left: 7rem;
    margin-right: 0rem;
    padding-right: 0rem;

}

.iconoAvion{
    padding-left: 9rem;
    padding-right: 9rem;
    margin-left: 7rem;
    margin-right: 0;
}

.monte{
    font-size: 1rem;
    color: #ffffff;
    text-align: justify;
    margin-left: 3rem;
    margin-right: 2.5rem;
    padding-right: 1rem;
}

.iconoMonte{
    padding-left: 9rem;
    padding-right: 9rem;
    margin-left: 3rem;
    margin-right: 0;
}

.ruta{
    font-size: 1rem;
    color: #ffffff;
    text-align: justify;
    margin-left: 0rem;
    margin-right: 6rem;
    padding-right: 1rem;
}

.iconoRuta{
    padding-left: 9rem;
    padding-right: 9rem;
    margin-left: 0rem;
    margin-right: 6rem;
}

/* ESTILO PARA IMAGEN Y LINK DE FORMULARIO TYPEFORM */

.imagenLink{
    margin-right: 0;
    margin-left: 12em;
}

.typeform{
    background-color: #ffffff;
    text-align: center;

}
